<div class="container mt-4">
  <h1>Mesas</h1>
  <div class="mb-3">
    <%= link_to 'Adicionar Mesa', new_table_path, class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Número da Mesa</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% if @tables.present? %>
        <% @tables.each do |table| %>
          <tr>
            <td><%= table.number %></td>
            <td>
              <%= button_to 'Remover', table, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger', authenticity_token: true %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3" class="text-center">Mesas não encontradas</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
