<div class="container mt-4">
  <section id="table-management">
    <h1 class="mb-3">Mesas</h1>

    <div class="d-flex justify-content-between align-items-center">
      <%= link_to 'Adicionar Mesa', new_table_path, class: 'btn btn-primary mb-4' %>
    </div>

    <% if @tables.any? %>
      <div class="row">
        <% @tables.each do |table| %>
          <div class="col-md-3 mb-4">
            <%= link_to edit_table_path(table), class: 'text-decoration-none' do %>
              <div class="table-square d-flex align-items-center justify-content-center">
                <span class="table-number display-4"><%= table.number %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-center text-muted mt-3">Nenhuma mesa encontrada.</p>
    <% end %>
  </section>
</div>
