<div class="container mt-4">
  <h1>Tables</h1>

  <div class="mb-3">
    <%= link_to 'Add New Table', new_table_path, class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Table Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tables.each do |table| %>
        <tr>
          <td><%= table.number %></td>
          <td>
            <%= button_to 'Remove', table, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
